.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border: 1px solid rgb(188, 188, 188);
  width: 240px; 
}

@media (min-width: 1600px) {
  .sidebar {
    width: 330px; 

  }
}
@media (max-width: 1500px) {
  .icon-items:hover,
  .more-icon:hover {
    width: 190px !important; 
  }
}

.logo-container{
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
}
.instagram-logo{
  width: 120px;
  padding-left: 24px;
}

.icon{  /* this is icon container */
  width: 300px;
  padding: 6px; 
  font-weight: 400;
  margin-left: 8px;
}

.icon-items:hover{
  background-color: rgb(235, 234, 234);
  border-radius: 8px;
  transition: 0.20s;
  cursor: pointer;
  padding: 10px;
  width: 280px;

} 

.more-icon:hover{
  background-color: rgb(235, 234, 234);
  border-radius: 8px;
  transition: 0.13s;
  cursor: pointer;
  padding: 2px;
  width: 280px;
}


.icon-items
{
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}
.icon-items div{
  margin-left: 16px;
}
.user-profile{
  height: 30px;
  border-radius: 50%;
}

.more-icon{
  position: fixed;
  bottom: 0;
  margin-bottom: 28px;
  width: 300px;
  margin-left: 12px;
}
.more-icon div{
  font-weight: bold;
}
.icon-items-more{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon img{
  height: 22px;
}
.icon-items-more div{
  padding: 2px 2px;
  margin-left: 12px;
  font-family: 16px;
}

.switch{
  margin-left: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  height: 60px;
  width: 200px;
  border-radius: 12px 12px 0 0;
  border: 1px solid rgb(223, 223, 223);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.switch div{
  font-size: 14px;
  margin-left: 18px;
  font-weight: bold;
}
.darkmode-container{
  bottom: 0;
  position: fixed;
  margin-bottom: 70px;
}

.darkmode-option{
  margin-left: 12px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;
  border-radius: 0 0 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.darkmode-icon{
  height: 16px;
  margin-right: 16px;
}
.darkmode-option img{
  height: 30px;
  margin-left: 100px;
}
.darkmode-option div{
  font-size: 11px;
  margin-left: 12px;
}

